# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/improve_node_performance/node_modules

/nasa-project/node_modules
/nasa-project/server/public
/nasa-project/server/data
/nasa-project/client/node_modules
/nasa-project/server/node_modules
/nasa-project/client/package-lock.json
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts